@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Life+Savers');
html{
    width: 100%;
    height: 100%;
}
.container{
    background-color: #DC143C;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    font-size: 3vh;
    margin-top: 45vh;
}
p{
    text-align: center;
    color: white;
    font-size: 4vh;
    line-height: 5vh;
    position: sticky;
    font-family: 'Life Savers', cursive;
    padding-bottom: 500px;
}
.signature{
    color: white;
    text-align: right;
    font-size: 2vh;
}
i{
    padding: 5px;
    transform: scale(0.7);
}
#gift:hover{
      animation-name: color;
      animation-duration: 1s;
      animation-iteration-count: infinite;
}
@keyframes color{
  0% {color: white;}
  50% {color: #DC143C;}
  100 {color: white;}
}
.sticky{
    height: 5vh;
    margin-top: 60vh; /* Controls spaces between lines */
    position: sticky;
    width: 100%;
    min-width: 50vh;
}
.doubleSpacing{
    margin-top: 90vh;
}
.spacingElement{
    height: 500px;
}
.line1{top:20vh;}
.line2{top:25vh;}
.line3{top:30vh;}
.line4{top:35vh;}
.line5{top:40vh;}
.line6{top:45vh;}
.line7{top:50vh;}
.line8{top:55vh;}
.line9{top:60vh;}
.line10{top:67vh; width:80%;}
.maskBottom{
    background-color: blue;
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background:linear-gradient(to top, #DC143C 40%, rgba(255,0,0,0));
}
.maskRadial{
    background-color: blue;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: radial-gradient(rgba(255,0,0,0) 45%,#840c24);
}
.maskSnow{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0;
}
a{
    font-size: 10vh;
    color: white;
    text-decoration: none;
    z-index: 2;
    padding-left: 2vh;
    width: 10%;
}

body::-webkit-scrollbar{
    background-color: #840c24;
    border: 1px solid #5d091a;
}

body::-webkit-scrollbar-thumb{
  background-color: #5d091a;
}
